/*!
Theme Name: OneTenth Child
Theme URI: https://one-tenth.co.kr/
Description: OneTenth Agency
Author: OneTenth Agency
Author URI: https://one-tenth.co.kr/
Template: onetenth
Version: 1.0.0
Text Domain: onetenth
*/

 /* Add your custom style here */